.form-container{
    margin: 0;
    width: 100vw;
    background: hwb(197 9% 55%);
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
}
#form{
  width: 500px;
  height: 750px;
  border-radius: 5px;
  padding: 40px;
  border: solid black;
  background: #ECF0F3;
  margin-top: 5%;
}
 .inputs {
    text-align: middle;
    margin-top: 30px;
  }
    
  .input {
    background: #ECF0F3;
    padding: 10px;
    padding-left: 20px;
    height: 25px;
    width: 400px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: inset 6px 6px 6px #cdcfcf, inset -6px -6px 6px white;
    text-align: center;

  }
  label {
    display: block;
    width: 50%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  .input .style-button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  label {
    margin-bottom: 4px;
  }
  label:nth-of-type(2) {
    margin-top: 20px;
  }
  .input::placeholder {
    color: gray;
  } 
   
  #detail{
    width: 500px;
    height: 300px;
    border-radius: 5px;
    padding: 40px;
    border: solid black;
    background: #ECF0F3;
    box-shadow: 14px 14px 20px #eff1f3;
    margin-top: 5%;
  }

  .style-button {
    color: white;
    width: 60%;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  
  .style-button:hover {
    box-shadow: none;
  }

  .style{
      margin-top: 5%;
      background-color:#1DA1F2;
  }


  ul {
    list-style-type: none;

  }

  #form-customer{
  width: 500px;
  height: 600px;
  border-radius: 5px;
  padding: 40px;
  border: solid black;
  background: #ECF0F3;
  margin-top: 5%;
  }

  .table-list{
      text-align: justify;
  }
  