.edit-container{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: hwb(197 9% 55%);
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    font-family: poppins;
}
#edit{
position: relative;
  margin-top: 30%;
  width: 350px;
  height: 100%;
  border-radius: 20px;
  padding: 40px;
  border: solid black;
  background: #ECF0F3;
  box-shadow: 14px 14px 20px #CBCED1, -14px -14px 20px white;
}
  button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #CBCED1, -6px -6px 6px white;
    transition: 0.5s;
  }
  button:hover {
    box-shadow: none;
  }
  label, button {
    display: block;
    width: 50%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  label {
    margin-bottom: 4px;
  }
  label:nth-of-type(2) {
    margin-top: 20px;
  }
  input::placeholder {
    color: gray;
  }







