.navbar {
    width: 100%;
    height: 100px;
    background-color: #2A678C;
    display: flex;
    flex-direction: row;
  }
  
  .navbar .leftSide img {
    width: 90px;
  }
  
  .navbar a {
    color: white;
    text-decoration:solid;
    margin: 40px;
    padding-left: 100px;


  }
 
  .navbar .hiddenLinks {
    display:flex;
    margin-left: 30px;
    margin-right: 10px;
    
    
  }
  
  
